/*body {
    background : skyblue;
}

h1 {
    font-family : Segoe Script;
    font-weight : bold;
}

#html {
    font-family : Viner Hand ITC;
}

#css {
    font-family : Bradley Hand ITC;
    font-weight : bold;
}*/

body {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}