.FirstDiv {
    color : red;
}

.SecondDiv {
    color : blue;
}

#SingleOut {
    color : green;
    text-decoration : line-through;
}

h3 + ul {
    border : green double 4px;
}

li a {
    color : red;
}

li a[href="www.google.com"]{
    color : blue;
    border : 3px solid green;

}